[packages]
numpy = "*"
quandl = "*"
pytest = "==6.0.1"
matplotlib = "*"
seaborn = "*"
flake8 = "==3.8.3"
jupyterlab = "==3.0.6"
mplfinance = "*"
finnhub-python="*"
mock = "==4.0.2"
bs4 = "*"
pyyaml = "==5.3.1"
#mplfinance = "==0.12.7a0"
requests = "==2.25.0"
beautifulsoup4 = "*"
pandas="*"
ipyleaflet="*"
geopandas="*"
pydantic="*"
[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

